In [10]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data_to_load = "city_data.csv"
ride_data_to_load = "ride_data.csv"

# Read the City and Ride Data
city_df = pd.read_csv(city_data_to_load)
ride_df = pd.read_csv(ride_data_to_load)
# Combine the data into a single dataset
city_fare = pd.DataFrame(ride_df.groupby("city")["fare"].mean())
city_fare = city_fare.reset_index()
city_rides = pd.DataFrame(ride_df.groupby("city")["ride_id"].count())
city_rides = city_rides.reset_index()
df = city_df.merge(city_fare,on="city")
df = df.merge(city_rides, on="city")
df = df.rename(columns={"ride_id" : "ride count", "fare": "average fare"})
df.head()
# Display the data table for preview

           city  driver_count   type  average fare  ride count
0   Richardfort            38  Urban     22.373214          28
1  Williamsstad            59  Urban     24.362174          23
2   Port Angela            67  Urban     23.836842          19
3    Rodneyfort            34  Urban     28.616957          23
4   West Robert            39  Urban     25.123871          31

## Bubble Plot of Ride Sharing Data

In [ ]:
# Obtain the x and y coordinates for each of the three city types

# Build the scatter plots for each city types

# Incorporate the other graph properties

# Create a legend

# Incorporate a text label regarding circle size

# Save Figure

In [ ]:
# Show plot
plt.show()

## Total Fares by City Type

In [ ]:
# Calculate Type Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Rides by City Type

In [ ]:
# Calculate Ride Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Drivers by City Type

In [ ]:
# Calculate Driver Percents

# Build Pie Charts

# Save Figure

In [ ]:
# Show Figure
plt.show()